<main class="main">
  <div class="content">
    <si-header si-title="ELPA:4 DLT Admin UI">
      <a href="/" title="Signal Iduna Startseite" slot="logo"
        ><si-header-logo></si-header-logo
      ></a>
      @if (isAuthenticated()) {
        <a
          title="Logout"
          role="presentation"
          (click)="logout()"
          (keyup)="logout()"
        >
          <si-header-menu-item>
            <si-icon
              slot="icon"
              si-width="24px"
              si-height="24px"
              si-svg="functionalLogin"
              si-sprite="essentials"
            ></si-icon>
            <span slot="label">Logout</span>
          </si-header-menu-item>
        </a>
      }
    </si-header>
  </div>
</main>

<router-outlet />
