<si-heading [si-size]="200"> DLT Event Details</si-heading>

<div class="icon-bar">
  <div class="items-left">
    <a href="/dlt-event-overview">
      <si-button si-variant="ghost" [si-icon-only]="true" [matTooltip]="'Back to DLT event overview'">
        <si-icon si-svg="functionalArrowLeftBig" si-sprite="navigation" />
      </si-button>
    </a>
  </div>
  <div class="items-right">
    <si-button si-variant="ghost" [si-icon-only]="true" [matTooltip]="'Refresh DLT detail data'" (click)="refresh()">
      <si-icon si-svg="functionalSync" si-sprite="navigation" />
    </si-button>
  </div>
</div>

<br />
<si-heading [si-size]="100">Event Metadata</si-heading>
<div class="key-value-data-container">
  @for (field of metadataFields; track field.key) {
    <si-key-value si-alignment="horizontal">
      <div slot="key">{{ field.label }}</div>
      <div slot="value">
        @switch (field.pipe) {
          @case ('date-short') {
            {{ extractValue(dltEvent, field.key) | date: 'short' : undefined : 'de' }}
          }
          @default {
            {{ extractValue(dltEvent, field.key) }}
          }
        }
      </div>
    </si-key-value>
  }
</div>

@if (dltEvent?.lastAdminAction) {
  <br />
  <si-heading [si-size]="100">Last Admin Action</si-heading>
  <div class="key-value-data-container">
    @for (field of lastAdminActionFields; track field.key) {
      <si-key-value si-alignment="horizontal">
        <div slot="key">{{ field.label }}</div>
        <div slot="value">
          {{ extractValue(dltEvent?.lastAdminAction, field.key) }}
        </div>
      </si-key-value>
    }
  </div>
}

<br />
<si-heading [si-size]="100">Event Details</si-heading>
<si-expander si-summary="DLT Event (raw data)">
  <pre class="code">{{ dltEventRawJson }}</pre>
</si-expander>
<si-expander si-summary="Payload">
  <pre class="code">{{ dltEvent?.payload }}</pre>
</si-expander>
<si-expander si-summary="Stacktrace">
  <pre class="code">{{ dltEvent?.stackTrace }}</pre>
</si-expander>


